section#tourList th, section#tourList td {
    padding: 0 10px;
}

section#tourList button.btn-light {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
}
section#tourList .modal-dialog {
    max-width: 95%;
}

section#tourList .modal-dialog .img-icon {
    height: 30px;
    margin-right: 10px;
}

section#tourList .modal-dialog .modal-body .description {
    padding-bottom: 20px;
}

section#tourList .modal-dialog .modal-body .description .title-info {
    padding-bottom: 10px;
}
