.Menu {
  background: #333;
  box-sizing: border-box;
  color: #AAA;
  font-size: 1rem;
  line-height: 2rem;
  padding: 1rem;
  position: relative;
}

  .Menu strong {
    color: #DDD;
  }

  .Menu nav {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

    .Menu a {
      color: #AAA;
      padding: 0 0.5rem;
      text-decoration: none;
    }

      .Menu a.active {
        color: white;
      }

      .Menu a:hover {
        color: white;
      }

    .MenuTop {
      box-shadow: 0 0 0.5rem #333;
      position: fixed;
      top: 0;
      width: 100vw;
    }

    .MenuBottom {
      background: #444;
      bottom: 0;
      color: #999;
      font-size: 0.85rem;
      position: fixed;
      width: 100vw;
    }

      .MenuBottom strong {
        color: #CCC;
      }

      .MenuBottom a {
        color: #BBB;
      }
